* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../images/bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
}

#sourceOne {
	border-color: #ff0000;
}

.jumbotron {
  margin-top: 1em;
  background-color: #47281a;
}

h1 {
  font-family: 'Cinzel';
  color: #000;
  font-size: 3.2em;
  padding-top: .3em;
  text-align: center;
}

.noSearch {
  height: 70px;
  background-color: #000;
  color: red;
  width: 70%;
  margin: 0 auto;
}

.noSearch h2 {
  font-size: 2em;
  padding: 15px;
}

h6 {
  font-family: 'Cormorant';
  font-size: 1em;
  text-align: center;
  padding: .8em;
}

.header {
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
}

.headerSubtext {
  background-color: #000;
  color: #fff;
}

#page-wrap {
  position: relative;
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
}

.canvas {
  margin: 1em;
}

#guardianDiv1, #guardianDiv2 {
  background-color: #000;
  height: 40em;
  color: #fff;
  margin-top: 3em;
}

#guardianDiv1 h1, #guardianDiv2 h1 {
  color: white;
  font-size: 2em;
  font-family: "Times New Roman";
  margin: 1em;
}

#guardianDiv1, #guardianDiv2 p {
  padding-left: 4em;
}

#guardianDiv1 p:first-child, #guardianDiv2 p:first-child {
  padding-top: 1em;
}

.hide {
  display: none;
}

/*Search Area*/

.searchArea {
  background-color: black;
  height: 15em;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.dateDiv {
  width: 50%;
  margin: 0 auto;
  padding-top: 10px;
}

.topicDiv {
  width: 50%;
  margin: 0 auto;
  padding-top: 10px;
}

#btn1 {
  margin-top: 1em;
}

.canvasCover {
  background-color: black;
  text-align: center;
}


/*Marquee*/

.generatedMarquee {
  font-family: url('../fonts/DJB Friday Night Lights.ttf');
  font-size: 1.3em;
  line-height: 0.6em;
  color: rgb(254, 230, 120);
  background-color: #000;
  padding: 1.2em;
}